<div class="jumbotron col-sm-4">
  <div class="col-sm-8">
      <label>Title</label><strong>{{bookData.title}}</strong><br>
      <label>Author</label><strong>{{bookData.author}}</strong><br>
      <label>ISBN</label><strong>{{bookData.isbn}}</strong><br>
      <label>Genere</label><strong>{{bookData.genere}}</strong><br>
  </div>
  <div class="col-sm-4 thumbnail" style="height:150px">
      <img src=".." alt="...">
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-12">
      <label>Description</label>:<strong>{{bookData.description}}</strong><br>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-offset-4 col-sm-4">
      <label>Rating</label>:<strong>{{bookData.rating}}</strong><br>
  </div>
  <div class="col-sm-4">
      <label>Likes</label>:<strong>{{bookData.likes}}</strong><br>
  </div>
</div>
