.bookCard{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    padding: 0px;
    margin:5px;
    .bookCardData{
        padding-right: 10px;
        padding-top: 10px;
    }
    .bookCardDataDesc{
        background-color: #2f6a9e;
        color: white;
    }
}
.padding0{
    padding:0px;
}