<div class="col-sm-11 col-sm-offset-1 searchFilterPanel">
    <div class="col-sm-3 col-sm-offset-4">
        <label>Search</label>
        <input type="text" class="form-control" placeholder="search book by title or author">
    </div>
    <div class="col-sm-3 genreFilterOpt">
        <label>Genre Filter</label>
        <select class="form-control">
              <option [value]="NA">None</option>
              <option [value]="Fiction">Fiction</option>
              <option [value]="Horror">Horror</option>
              <option [value]="Technology">Technology</option>
            </select>
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-sm-11 col-sm-offset-1">
    <app-book-detail-tile *ngFor="let book of bookData; let in = index" [bookData]="book" [issuedBook]="issuedBook" [getBookPlace]="getBookPlace"
        [ind]="in"></app-book-detail-tile>
</div>