<div class="col-sm-12">
  <div class="col-sm-8"></div>
  <div class="col-sm-4 genreFilterOpt">
      <label>Genre Filter</label>
      <select class="form-control">
        <option [value]="NA">None</option>
        <option [value]="Fiction">Fiction</option>
        <option [value]="Horror">Horror</option>
        <option [value]="Technology">Technology</option>
      </select>
  </div>
  <div class="clearfix"></div>
  <table class="table table-bordered">
    <thead>
      <tr>
          <td>#</td>
          <td>
            ISBN
            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          </td>
          <td>
            Title
            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          </td>
          <td>
            Author
            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          </td>
          <td>
            Genre
            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          </td>
          <td>
            Total Books
            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          </td>
          <td>
            Update Details
            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i=index;">
          <td>{{i+1}}</td>
          <td *ngIf="!('textfieldMode' + i)">{{book.isbn}}</td>
          <td *ngIf="('textfieldMode' + i)"><input type="text" [(ngModel)]="book.isbn"/></td>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.genre}}</td>
          <td>{{book.totalPresent}}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="toggleFieldText()">Update</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
