<div class="col-sm-offset-3 col-sm-6 padding-top-15">
<form>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg padding-top-15">
        <span class="input-group-addon" id="sizing-addon2">@</span>
        <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
    </div>
    <div class="text-center padding-top-15">
        <button class="btn btn-primary btn-lg" (click)="logIn();">Log In</button>
        <button class="btn btn-primary btn-lg" (click)="logInUser();">Log In user</button>
    </div>
</form>
</div>
